<test class="ui blue stackable menu">
    <a class = "header item">Ambilamp</a>
    
    <a href = "/" class="item" id = "nav_home">Home</a>
    <a href = "/details" class="item" id = "nav_details">Details</a>
</test>

